/*  */

.cart {
  position: absolute;
  right: 50px;
  top: 50px;
  color: black;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 50px;
  transition: 0.5s;
  cursor: pointer;
  padding: auto;
  display: flex;
  text-align: center;
  background-color: white;
  outline: none;
}
.cart:focus {
  outline: none;
}
.cart:hover i {
  color: gold;
}
.cart:hover {
  background-color: white;
}
/*  */
.item {
  width: 25%;
  padding: 20px;
  text-align: center;
}
.item__img {
  position: relative;
  overflow: hidden;
}
.item__img img {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: all 0.75s;
  border-radius: 8px;
  padding: 25px;
  background-color: #92a2a1;
}

.detail {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 25px;
  color: greenyellow;

  transition: all 0.75s;
}
.logo img {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-size: 200%;
  border-radius: 10px;
  transition: all 0.75s;
}

.item .item__img:hover .overlay {
  opacity: 1;
}
.item h3 {
  font-size: 19px;
}
button {
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
}
button:hover {
  background-color: burlywood;
}
.disPlay {
  display: block !important;
}
#table {
  position: absolute;
  bottom: 50vh;
  right: 50vw;
  background-color: gray;
  display: none;
}
#so {
  position: absolute;
  top: 8px;
  right: 6px;
  color: white;
  font-size: 13px;
}
